<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="one.mini.springframework.bean.UserService"/>

    <bean class="one.mini.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="methodInterceptor" class="one.mini.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="beforeAdvice" class="one.mini.springframework.aop.UserServiceBeforeAdvice"/>

    <bean id="pointcut" class="one.mini.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* one.mini.springframework.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>